.header
  .header__left
    %h1
      Place You Can Buy The Mask
  .header__center
    = link_to "Seeking Mask", root_path, class: "header__center__site-name"
  .header__right
    = link_to "店舗用", confirm_path , class: "header__right__login"