.header
  .header__left
    %h1
      Place You Can Buy The Mask
  .header__center
    = link_to "Seeking Mask", root_path, class: "header__center__site-name"

  %ul.droppdown
    Menu
    %li.droppdown__li
      = link_to "店舗一覧", masks_path, class: "droppdown__li__content"
    %li.droppdown__li
      = link_to "店舗の方", confirm_path , class: "droppdown__li__content"
    %li.droppdown__li
      = link_to "About", question_path, class: "droppdown__li__content"