.header
  .header__left
    %h1
      Place You Can Buy The Mask
  .header__center
    = link_to "Seeking Mask", root_path, class: "header__center__site-name"

.confirm
  .confirm__message
    %h1
      店舗の方ですか？
  .confirm__answer    
    = link_to raw("NO<br/>トップ画面へ"), root_path, class: "confirm__answer__box"
    = link_to raw("YES<br/>ログイン画面へ"), "#", class: "confirm__answer__box"
    = link_to raw("YES<br/>新規登録画面へ"), "#", class: "confirm__answer__box"