.mask-form
  - if @mask.errors.any?
    .mask-form__errors
      %ul
        - @mask.errors.full_messages.each do |message|
          %li
            = message
  %h1
    在庫編集
  = render partial: "form"

    