.wrapper
  = render partial: "usersheader"

  .users-situation
    %h1
      在庫状況
    .users-situation__contents
      .users-situation__contents__content
        .users-situation__contents__content__maker
          パナそにっく
        .users-situation__contents__content__size
          大人用
        .users-situation__contents__content__stock
          50箱
  .users__btn
    = link_to "在庫編集", "#", class: "users__btn__edit"
    = link_to "新規在庫", "#", class: "users__btn__new"
