.wrapper
  = render partial: "header"

  .users-situation
    %h1
      在庫状況
    .users-situation__contents
      .users-situation__contents__content
        .users-situation__contents__content__maker
          パナソニック
        .users-situation__contents__content__size
          大人用
        .users-situation__contents__content__stock
          50箱