
//contents
.contents {
  height: 600px;
  width: 500px;
  position: absolute;
  right: 50px;
  margin-top: 15px;
  h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    height: 30px;
  }
  &__shops {
    width: 500px;
    height: 520px;
    overflow: scroll;
    .user_search {
      display: flex;
      &__input {
        display: block;
        background-color: transparent;
        margin-left: 150px;
        border: 1px solid white;
        color: white;
        &::placeholder {
          color: white;
          opacity: 0.8;
        }
      }
      &__btn {
        display: block;
        background-color: transparent;
        color: white;
        margin-left: 20px;
        width: 60px;
        cursor: pointer;
      }
    }
    &__name {
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: black;
      display: block;
      margin-top: 10px;
      text-decoration: none;
      background-color: white;
      opacity: 0.8;
      &:hover {
        background-color: skyblue;
        color: black;
        transition: 0.8s ;
      }
    }
  }
}



//顧客用店舗詳細
.shop-detail {
  height: 600px;
  width: 650px;
  position: absolute;
  right: 50px;
  margin-top: 15px;
  &__info {
    text-align: center;
    color: white;
    &__name {
      font-size: 25px;
    }
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  &__stocks {
    height: 500px;
    overflow: scroll;
    &__stock {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;
      background-color: white;
      opacity: 0.8;
      > div {
        text-align: center;
        width: 100px;
      }
    }
  }
}

//confirm
.confirm {
  height: 500px;
  width: 500px;
  position: absolute;
  right: 50px;
  &__message {
    margin-bottom: 20px;
    h1{
      font-size: 20px;
      color: white;
      text-align: center;
    }
  }
  &__answer {
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__box {
      text-decoration: none;
      text-align: center;
      color: white;
      border: 1px solid white;
      display: block;
      height: 50px;
      width: 150px;
      margin: auto;
      &:hover {
        background-color: white;
        color: black;
        transition: 0.8s ;
      }
    }
  }
}

//マスク新規投稿
.mask-form {
  height: 600px;
  width: 650px;
  position: absolute;
  right: 50px;
  margin-top: 15px;
  h1 {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .new_mask {
    height: 400px;
    width: 300px;
    margin: auto;
    > div{
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      color: white;
    }
    &__maker {
      input {
        display: block;
        margin: auto;
        width: 150px;
      }
    }
    &__size {
      select {
        margin: auto;
        width: 150px;
      }
    }
    &__stock {
      input {
        display: block;
        margin: auto;
        width: 150px;
      }
    }
    &__price {
      input {
        display: block;
        margin: auto;
        width: 150px;
      }
    }
    &__send-btn{
      input{
        background-color: transparent;
        color: white;
        text-decoration: none;
        text-align: center;
        border: 1px solid white;
        display: block;
        height: 30px;
        width: 80px;
        margin: auto;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: black;
          transition: 0.8s ;
        }
      }
    }
  }
}

//在庫編集
.edit-form {
  height: 600px;
  width: 650px;
  position: absolute;
  right: 50px;
  margin-top: 15px;
  &__delete-btn {
    text-decoration: none;
    color: white;
    display: block;
    height: 30px;
    width: 80px;
    border: 1px solid white;
    text-align: center;
    margin: auto;
    line-height: 30px;
    font-size: 18px;
    &:hover {
      background-color: white;
      color: black;
      transition: 0.8s ;
    }
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .edit_mask {
    height: 400px;
    width: 300px;
    margin: auto;
    > div{
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      color: white;
    }
    &__maker {
      input {
        display: block;
        margin: auto;
        width: 150px;
      }
    }
    &__size {
      select {
        margin: auto;
        width: 150px;
      }
    }
    &__stock {
      input {
        display: block;
        margin: auto;
        width: 150px;
      }
    }
    &__price {
      input {
        display: block;
        margin: auto;
        width: 150px;
      }
    }
    &__send-btn{
      input{
        background-color: transparent;
        color: white;
        text-decoration: none;
        text-align: center;
        border: 1px solid white;
        display: block;
        height: 30px;
        width: 80px;
        margin: auto;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: black;
          transition: 0.8s ;
        }
      }
    }
    
  }
}

//質問
.faq {
  height: 600px;
  width: 650px;
  position: absolute;
  right: 50px;
  margin-top: 15px;
  h1 {
    font-size: 25px;
    color: white;
    text-align: center;
  }
  &__list {
    &__item {
      margin-top: 10px;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      &__question {
        background-color: gray;
        color: white;
      }
      &__answer {
        text-align: left;
        background-color: white;
        color: black;
        display: none;
      }
    }
  }
}

//背景
.image__hospital{
  width: 100vw;
  height: 100vh;
}