* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-image: image-url('maskimage.png');
  background-size:cover;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

// header
.header {
  width: 100%;
  height: 100px;
  display: flex;
  &__left {
    text-align: center;
    width: 33%;
    h1 {
      color: $white;
      line-height: 100px;
      font-size: 25px;
      font-family: cursive;
    }
  }
  &__center {
    text-align: center;
    width: 33%;
    line-height: 100px;
    &__site-name {
      text-decoration: none;
      color: $white;
      font-size: 25px;
      font-family: cursive;
    }
  }
}

//ドロップダウン
.droppdown {
  color: $white;
  display: block;
  height: 50px;
  width: 100px;
  border: $border;
  text-align: center;
  margin: auto;
  line-height: 50px;
  font-size: 18px;
  cursor: pointer;
  right: 50px;
  z-index: 1 ;
  &:hover {
    background-color: $white;
    color: $black;
  }
  &__li {
    display: none;
    background-color: $white;
    border-bottom: 1px solid gray;
    &:hover {
      background-color: skyblue;
    }
    &__content {
      text-decoration: none;
      color: $black;
      display: block;
    }
  }
}

//footer
.footer {
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
  h1 {
    text-align: center;
    font-size: 25px;
    color: $white;
    font-family: cursive;
  }
}

//スクロールバー
.contents__shops::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
.contents__shops::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: $box-shadow;
}
.contents__shops::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scroll-background;

}

.shop-detail__stocks::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
.shop-detail__stocks::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: $box-shadow;
}
.shop-detail__stocks::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scroll-background;
}

.users-situation__contents::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
.users-situation__contents::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: $box-shadow;
}
.users-situation__contents::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $scroll-background;
}