
//店舗トップ画面
.users-situation {
  height: 600px;
  width: 650px;
  position: absolute;
  right: 50px;
  margin-top: 15px;
  h1 {
    height: 40px;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 40px;
  }
  &__contents {
    height: 560px;
    &__content {
      height: 40px;
      display: flex;
      justify-content: space-around;
      line-height: 40px;
      background-color: white;
      opacity: 0.8;
    }
  }
}

.users__btn {
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 650px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  &__edit {
    display: block;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    font-size: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    &:hover {
      background-color: white;
      color: black;
      transition: 0.8s ;
    }
  }
  &__new {
    display: block;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    font-size: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    &:hover {
      background-color: white;
      color: black;
      transition: 0.8s ;
    }
  }
}

//顧客用店舗詳細
.shop-detail {
  height: 600px;
  width: 650px;
  position: absolute;
  right: 50px;
  margin-top: 15px;
  &__info {
    text-align: center;
    color: white;
    &__name {
      font-size: 25px;
    }
  }
  &__stocks {
    height: 500px;
    h1 {
      color: white;
      text-align: center;
      font-size: 20px;
    }
    &__stock {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-around;
      background-color: white;
      opacity: 0.8;
    }
  }
}